@inherits LayoutComponentBase
@using Financials.Components.Common

<Navigation />

<div class="main-content">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
