<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/main-layout.css" />
    <link rel="stylesheet" href="/file-dropzone.css" />
    <link rel="stylesheet" href="/file-item.css" />
    <link rel="stylesheet" href="/related-files.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_framework/aspnetcore-browser-refresh.js"></script>
    <script src="js/fileManager.js"></script>
    <script src="js/databaseInit.js"></script>
    
</body>

</html>
